/* Font */
@import url(https://db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);

@font-face {
  font-family: "Acumin Variable Concept";
  src: url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot");
  src: url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.svg#Acumin Variable Concept")format("svg");
}

:root{
    --default-font: "Acumin Variable Concept";
    --heading-font: "Acumin Variable Concept";
    --nav-font:"Acumin Variable Concept";
    --foot-font:"Acumin Variable Concept";
}

/*Colori globali*/
:root{
    --background-color: #ddd0ae; /*Colore del BG per l'intero sitoweb, anche singole sezioni*/
    --default-color: #332311; /*Colore predefinito utilizzato per la maggior parte del contenuto testuale su tutto il sito web */
    --heading-color: #BD8544; /*Colore per intestazioni, sottotitoli e titoli in tutto il sito web*/
    --interact-color: #ab6d22; /*Colore di interazione. Viene utilizzato per pulsanti, link e altri elementi con cui si interagisce*/
    --contrast-color: #ffffff; /*Per gli elementi quando il colore di sfondo è uno dei colori delle intestazioni, dell'interazione o predefinito. Il suo scopo è garantire il giusto contrasto e la leggibilità quando è posizionato su questi colori più dominanti*/
}

/*Nav Menu Color*/
:root {
    --nav-bg-color:#D4AB73;
    --nav-color: #94652E;  /* The default color of the main navmenu links */
    --nav-hover-color: #904E00; /* Applied to main navmenu links when they are hovered over or active */
    --nav-default-color: #332311;
}


@media (max-width: 1200px) {
  .navbar {
    text-align: right;
  }
  
  .navbar-links {
    float: none;
  }
  
  .navbar-links ul {
    display: inline-block;
  }
  
  .navbar-links li {
    display: block;
    margin: 10px 0;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-font), sans-serif;
}

/*.header {
  --background-color: rgba(0, 0, 0, 0);
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 997;
}*/

.navbar {
  display: block;
  background-color: var(--nav-bg-color);
  padding: 10px 10px;
}

.navbar-links {
  display: inline;
  text-align: right;
  vertical-align: text-top;
}

.navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline-block;
  margin: 0 10px;
}

.navbar-links a {
  text-decoration: none;
  color: var(--nav-default-color);
  font: var(--default-font);
}

.navbar-links a:hover {
  color: var(--interact-color);
}





/*
    body {
    font-family: var(--main-font);
    }

    h1, h2, h3 {
        font-family: var(--main-font);
    }

    /* Definizione del font personalizzato 
    @font-face {
        font-family: 'MyCustomFont';
        src: url('fonts/mycustomfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    /* Definizione delle variabili CSS 
    :root {
        --main-font: 'MyCustomFont', sans-serif;
    }

    /* Applicazione del font 
    body {
        font-family: var(--main-font);
    }

    h1, h2, h3 {
        font-family: var(--main-font);
    }


.modal-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    padding: 15px;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    z-index: 9999;
}*/