/* Font */
@import url(https://db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);

@font-face {
  font-family: "Acumin Variable Concept";
  src: url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot");
  src: url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.svg#Acumin Variable Concept")format("svg");
}

:root{
    --default-font: "Acumin Variable Concept";
    --heading-font: "Acumin Variable Concept";
    --nav-font:"Acumin Variable Concept";
    --foot-font:"Acumin Variable Concept";
}

/*Colori globali*/
:root{
    --background-color: #ddd0ae; /*Colore del BG per l'intero sitoweb, anche singole sezioni*/
    --default-color: #332311; /*Colore predefinito utilizzato per la maggior parte del contenuto testuale su tutto il sito web */
    --heading-color: #BD8544; /*Colore per intestazioni, sottotitoli e titoli in tutto il sito web*/
    --interact-color: #ab6d22; /*Colore di interazione. Viene utilizzato per pulsanti, link e altri elementi con cui si interagisce*/
    --contrast-color: #ffffff; /*Per gli elementi quando il colore di sfondo è uno dei colori delle intestazioni, dell'interazione o predefinito. Il suo scopo è garantire il giusto contrasto e la leggibilità quando è posizionato su questi colori più dominanti*/
}

/*Nav Menu Color*/
:root {
    --nav-bg-color:#D4AB73;
    --nav-color: #94652E;  /* The default color of the main navmenu links */
    --nav-hover-color: #904E00; /* Applied to main navmenu links when they are hovered over or active */
    --nav-default-color: #332311;
}

/*--- GEBERALE --*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-font), sans-serif;
  color: var(--nav-color);
}

a{
  color: var(--nav-color);
  text-decoration: none;
}

a:hover {
  color: var(--nav-hover-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--nav-font);
}

/*--- Sections & section Header ---*/


.section-bg {
  background-image: url("/src/main/resources/static/img/background-home-page.png"); /* Specifica il percorso dell'immagine */
  background-size: cover; /* Rende l'immagine coprire tutto l'elemento */
  background-position: center; /* Centra l'immagine all'interno dell'elemento */
  background-repeat: no-repeat; /* Impedisce che l'immagine si ripeta */
  height: 100vh; /* Imposta l'altezza dell'elemento a 100% dell'altezza del viewport */
  color: var(--nav-hover-color); /* Imposta il colore del testo per un migliore contrasto */
  display: flex;
}

/*--- HEADER --*/
.header .navbar-logo {
  line-height: 1;
}

.header .navbar-logo img {
  max-height: 36px;
  margin-right: 8px;
}

.navbar {
  display: block;
  background-color: var(--nav-bg-color);
  padding: 50px 50px;
}

.navbar-links {
  display: inline;
  text-align: right;
  vertical-align: middle;
}

.navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline-block;
  margin: 0 10px;
  padding: 0 10px; 
}

.navbar-links a {
  text-decoration: none;
  color: var(--nav-default-color);
  font: var(--default-font);
}

.navbar-links a:hover {
  color: var(--interact-color);
}


/*
.navbar {
  background: var(--nav-bg-color);
  transition: all 0.5s;
  z-index: 997;
  height: 155px;
  border-bottom: 1px solid #332311;
}

@media (max-width: 1920px) {
  .navbar {
    height: 155px;
  }

  .navbar-logo{
    max-height: 118px;
    margin-right: 10px;
  }
  
  .header .navbar-links {
    float: none;
  }
  
  .navbar-links ul {
    display: inline-block;
  }
  
  .navbar-links li {
    display: block;
    margin: 10px 0;
  }
}





/*.header {
  --background-color: rgba(0, 0, 0, 0);
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 997;
}*/





/*
    body {
    font-family: var(--main-font);
    }

    h1, h2, h3 {
        font-family: var(--main-font);
    }

    /* Definizione del font personalizzato 
    @font-face {
        font-family: 'MyCustomFont';
        src: url('fonts/mycustomfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    /* Definizione delle variabili CSS 
    :root {
        --main-font: 'MyCustomFont', sans-serif;
    }

    /* Applicazione del font 
    body {
        font-family: var(--main-font);
    }

    h1, h2, h3 {
        font-family: var(--main-font);
    }


.modal-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    padding: 15px;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    z-index: 9999;
}*/