/* Font */
@font-face {
    font-family: "Acumin Variable Concept";
    src: url("font/Acumin-Variable-Concept.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}



:root{
    --default-font: "Acumin Variable Concept", system-ui, -apple-system, sans-serif;
    --heading-font: "Acumin Variable Concept";
    --nav-font:"Acumin Variable Concept";
    --foot-font:"Acumin Variable Concept";
}

/*Colori globali*/
:root{
    --background-color: #ddd0ae; /*Colore del BG per l'intero sitoweb, anche singole sezioni*/
    --default-color: #332311; /*Colore predefinito utilizzato per la maggior parte del contenuto testuale su tutto il sito web */
    --heading-color: #BD8544; /*Colore per intestazioni, sottotitoli e titoli in tutto il sito web*/
    --interact-color: #ab6d22; /*Colore di interazione. Viene utilizzato per pulsanti, link e altri elementi con cui si interagisce*/
    --contrast-color: #ffffff; /*Per gli elementi quando il colore di sfondo è uno dei colori delle intestazioni, dell'interazione o predefinito. Il suo scopo è garantire il giusto contrasto e la leggibilità quando è posizionato su questi colori più dominanti*/
}

/*Nav Menu Color*/
:root {
    --nav-color: #94652E;  /* The default color of the main navmenu links */
    --nav-hover-color: #904E00; /* Applied to main navmenu links when they are hovered over or active */
}


/*
    body {
    font-family: var(--main-font);
    }

    h1, h2, h3 {
        font-family: var(--main-font);
    }

    /* Definizione del font personalizzato 
    @font-face {
        font-family: 'MyCustomFont';
        src: url('fonts/mycustomfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    /* Definizione delle variabili CSS 
    :root {
        --main-font: 'MyCustomFont', sans-serif;
    }

    /* Applicazione del font 
    body {
        font-family: var(--main-font);
    }

    h1, h2, h3 {
        font-family: var(--main-font);
    }


*/







.modal-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    padding: 15px;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    z-index: 9999;
}