/*Colori globali*/
:root{
    --defoult-text-color: #36251E; /*Colore predefinito utilizzato per la maggior parte del contenuto testuale su tutto il sito web */
    --heading-color: #BD8544; /*Colore per intestazioni, sottotitoli e titoli in tutto il sito web*/
    --interaction-color: #A1450B; /*Colore di interazione. Viene utilizzato per pulsanti, link e altri elementi con cui si interagisce*/
    --active-color: #A1450B; /*Colore attivo. Viene utilizzato per evidenziare gli elementi attivi o selezionati*/
    --contrast-color: #ffffff; /*Per gli elementi quando il colore di sfondo è uno dei colori delle intestazioni, dell'interazione o predefinito. Il suo scopo è garantire il giusto contrasto e la leggibilità quando è posizionato su questi colori più dominanti*/
    --bg-color: #DDD0AE;
}

/*Nav Menu Color*/
:root {
    --nav-bg-color:#D4AB73;
    --nav-botton-color: #723C1A;
    --interaction-botton-color: #36251E; 
}


/* Stile della tabella dettagli*/

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-color);
    overflow: hidden;
}

td {
    padding: 15px;
    border-bottom: 2px solid black;
}

td:first-child {
    font-weight: bold;
    padding-left: 200px;
}

/* Stile specifico per la tabella tb-users */
.tb-users {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-color);
    overflow: hidden;
}

.tb-users th, .tb-users td {
    padding: 15px;
    border: 1px solid black;
    text-align: left; /* Allinea il testo a sinistra */
}

.tb-users th {
    background-color: var(--bg-color); /* Colore di sfondo per le intestazioni */
    font-weight: bold;
    padding-left: 100px;
}

/* modal form */




.modal-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-form input[type="text"],
.modal-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-form .button-container {
    display: flex;
    justify-content: space-between;
}

.modal-form button {
    padding: 5px 10px; /* Riduce il padding dei bottoni */
    background-color: var(--nav-botton-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Riduce la dimensione del font */
    width: 48%;
}

.modal-form .button-container {
    display: flex;
    justify-content: space-between;
}

.modal-form button[type="button"]:hover {
    background-color: var(--interaction-color);
}

.tb-users td:first-child {
    font-weight: normal; /* Rimuove il grassetto dalla prima colonna */
    padding-left: 100px; /* Aggiunge padding a sinistra per allontanare il testo dal bordo */
}

.tb-users th, .tb-users td {
    padding: 15px;
    border: 1px solid black;
    text-align: left; /* Allinea il testo a sinistra */
}

.tb-users th {
    background-color: var(--bg-color); /* Colore di sfondo per le intestazioni */
    font-weight: bold;
    padding-left: 100px;
}

.tb-users td:first-child {
    font-weight: normal; /* Rimuove il grassetto dalla prima colonna */
    padding-left: 100px; /* Aggiunge padding a sinistra per allontanare il testo dal bordo */
}




/* Stile generale per il form modale */
.modal-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--heading-color);
    padding: 20px;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 45%; 
    height: 90%;
    max-width: 500px;
    overflow-y: auto; /* Aggiunto per gestire il contenuto eccedente */
}

.modal-form h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-form input[type="text"],
.modal-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Stile per i bottoni "Chiudi" e "Invia" nei form modali */
.modal-form .button-container {
    display: flex;
    justify-content: space-between;
    gap: 150px; /* Aggiunge spazio tra i bottoni */
}

.modal-form button {
    padding: 10px 10px; /* Riduce il padding dei bottoni */
    background-color: var(--nav-botton-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Riduce la dimensione del font */
    width: 48%;
}

.modal-form button:hover {
    background-color: var(--interaction-color);
}

/* Stile per il bottone "Chiudi" nei form modali */
.modal-form .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Stile comune per i bottoni "Dettagli", "Elimina" e "Modifica" */
.button-common {
    width: 100%;
    padding: 10px;
    background-color: var(--nav-botton-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-style: bold;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.button-common:hover {
    background-color: var(--interaction-color);
}