<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Admin</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div>
        <h2>Benvenuto <span th:text="|${persona.nome} ${persona.cognome}|"></span> nell'area admin</h2>
    </div>
    <div>
        <form action="/area-admin-search" method="get">
            <label for="search">Cerca</label>
            <input type="text" name="search" id="search" placeholder="Cerca ordine, utente o prodotto">
            <input type="submit" value="Cerca">
            <a href="/area-admin">Annulla ricerca</a>
        </form>
    </div>
    <div>
        <a href="/prodotto/tutti-i-prodotti">
            <button>Tutti i prodotti</button>
        </a>
    </div>
    <div>
        <a href="/ordine/tutti-gli-ordini">
            <button>Tutti gli ordini</button>
        </a>
    </div>
    <div>
        <a href="/utente/tutti-gli-utenti">
            <button>Tutti gli utenti</button>
        </a>
    </div>
    <div>
       <a href="/admin/utenti-registrati">
        <button>Utenti registrati</button>
       </a>
    </div>
    <div id="message-modal" th:if="${message} != null">
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
        <hr>
        <p th:text="${message}"></p>
    </div>
</body>
</html>