<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Admin</title>
</head>
<body>
    <div>
        <h2>Benvenuto <span th:text="|${persona.nome} ${persona.cognome}|"></span> nell'area admin</h2>
    </div>
    <div>
        <form action="/area-admin-search" method="get">
            <label for="search">Cerca</label>
            <input type="text" name="search" id="search" placeholder="Cerca ordine, utente o prodotto">
            <input type="submit" value="Cerca">
            <a href="/area-admin">Annulla ricerca</a>
        </form>
    </div>
    <div>
        <a href="/admin/ordini">
            <button>I miei ordini</button>
        </a>
    </div>
    
</body>
</html>