<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrello</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
    <table>
        <thead>
            <tr>
                <th>Genere</th>
                <th>Brand</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prodotto : ${listaProdotti}">
                <td th:text="${#strings.equals(prodotto.genere, 'M') ? 'Macchinetta' : 'Caffè'}"></td>
                <td th:text="${prodotto.brand}"></td>
                <td th:text="${prodotto.prezzo}"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Totale</td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</head>
<body>
    
</body>
</html>