<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrello</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body></body>
    <a href="/prodotto/tutti-i-prodotti">Indietro</a>
    <table>
        <thead>
            <tr>
                <th>Genere</th>
                <th>Brand</th>
                <th>Prezzo</th>
                <th>Iva</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prodotto : ${carrello}">
                <td th:text="${#strings.equals(prodotto.genere, 'M') ? 'Macchinetta' : 'Caffè'}"></td>
                <td th:text="${prodotto.brand}"></td>
                <td th:text="${prodotto.prezzo}"></td>
                <td th:text="${#numbers.formatDecimal(prodotto.prezzo * 22 /100, 1, 2)}"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Spedizione</td>
                <td th:text="${ordine.totale > 500} ? 0 : 49.00"></td>
                <td></td>
                <td>Totale</td>
                <td th:text="${ordine.totale + (ordine.totale > 500 ? 0 : 49.00)}"></td>
                
            </tr>
        </tfoot>
    </table>
    <a href="/utente/checkout"><button>Checkout</button></a>


    
</body>
</html>