<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <table>
        <tr>
            <th>Genere</th>
            <th>Brand</th>
            <th>Prezzo</th>
        </tr>
    </table>
    <tbody>
        <tr th:each="prodotto : ${listaProdotti}">
            <td th:text="${#strings.equals(prodotto.genere, 'M') ? 'Macchinetta' : 'Caffè'}"></td>
            <td th:text="${prodotto.brand}"></td>
            <td th:text="${prodotto.prezzo}"></td>
    </tbody>
</head>
<body>
    
</body>
</html>