<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="hero-text-about">
        <h2>CHI SIAMO:</h2>
        <p>Benvenuti su Speedy · Beans, il vostro partner di fiducia per l'approvvigionamento di caffè di alta qualità e macchine da caffè professionali. Siamo un'azienda specializzata nella fornitura esclusiva ai negozi, dedicata a soddisfare le esigenze dei rivenditori con una selezione accurata di prodotti delle migliori marche.

            La nostra missione è semplice: offrire soluzioni veloci, affidabili e su misura per il vostro business. </p>
        <p>Siamo un'azienda italiana nata dalla passione per il caffè,
            con l’obiettivo di offrire prodotti di qualità alle aziende.
            La nostra missione è fornire un caffè eccellente,
            supportato da un servizio su misura.
            I nostri valori fondamentali sono
            QUALITÀ, SOSTENIBILITÀ E INNOVAZIONE</p>
                
    </div>
</body>
</html>