<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio prodotto</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Genere</th>
                <th>Brand</th>
                <th>Prezzo</th>
                <th>Disponibilità</th>
                <th>Peso</th>
                <th th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe)}">Tipologia</th>
                <th th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe)}">Data Produzione</th>
                <th th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe)}">Data Scadenza</th>
                <th th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe)}">Formato</th>
                <th th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}">Utilizzo</th>
                <th th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}">Colore</th>
                <th th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}">Modello</th>
                <th th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}">Serbatoio</th>       
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${#strings.equals(prodotto.genere, 'M') ? 'Macchinetta' : 'Caffè'}"></td>
                <td th:text="${prodotto.brand}"></td>
                <td th:text="${prodotto.prezzo}"></td>
                <td th:text="${prodotto.disponibilita}"></td>
                <td th:text="${prodotto.peso}"></td>
                <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe)}"
                th:text="${prodotto.tipologia}"></td>
                <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe)}"
                th:text="${prodotto.dataProduzione}"></td>
                <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe)}"
                th:text="${prodotto.dataScadenza}"></td>
                <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe)}"
                th:text="${prodotto.formato}"></td>
                <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}"
                th:text="${prodotto.utilizzo}"></td>
                <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}"
                th:text="${prodotto.colore}"></td>
                <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}"
                th:text="${prodotto.modello}"></td>
                <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}"
                th:text="${prodotto.serbatoio}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>