<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio Ordine Utente</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Genere</th>
                <th>Brand</th>
                <th>Prezzo</th>
                <th>Disponibilità</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>   
            <tr th:each="prodotto : ${listaProdotti}">
                <td th:text="${prodotto.genere}"></td>
                <td th:text="${prodotto.brand}"></td>
                <td th:text="${prodotto.prezzo}"></td>
                <td th:text="${prodotto.disponibilita}"></td>
                <td th:text="${prodotto.peso}"></td>
                <td><a th:href="|/utente//dettaglio-ordini?id=${prodotto.id}|"><button>Dettaglio</button></a></td>

            </tr>
        </tbody>
    </table>
</body>
</html>