<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SPEEDY·BEANS</title>
    <meta name="description" content="Rifornisci il tuo negozio di caffè con SPEEDY·BEANS: l'e-commerce che garantisce spedizioni veloci e affidabili. Scopri di più!">
    <meta name="keywords" content="caffè, rifornimento caffè, spedizione veloce, negozio caffè, e-commerce caffè">
    
    <!-- Favicons -->
    <link href="src/main/resources/static/img/favicon-speedybeans.png" rel="icon">
    <link href="src/main/resources/static/img/apple-touch-icon-speedbeans.png" rel="apple-touch-icon">
    
    <!-- Fonts -->
    <link href="https://db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept" rel="stylesheet">

     <!-- Main CSS File -->
     <link rel="stylesheet" href="/src/main/resources/static/css/main.css">
  

</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header">
        <div>
            <a href="index.html" class="navbar-logo"></a>
            <div class="logo">
                <img src="/src/main/resources/static/img/logo-speedybeans.png">
                <nav id="navbar" class="navbar">  
                    <div class="navbar-links">
                        <ul>
                            <li><a href="#home" class="active">Home</a></li>
                            <li><a href="#caffe" class="">Caffè</a></li>
                            <li><a href="#macchinette" class="">Macchinette</a></li>
                            <li><a href="#contatti" class="">Contatti</a></li>
                            <a class="login" href="/loginpage">LOG IN</a>
                            <a class="signin" href="/signuppage">SIGN UP</a>
                        </ul>
                        <!-- <div id="login-modal" class="modal-form" hidden>
                            <form action="/login" method="post">
                                <label for="username">Username</label>
                                <input type="text"  name="username" id="username">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password">
                                <input type="submit" value="Accedi">
                            </form>
                        </div> -->
                    </div>
                </div>
            </nav><!-- .navbar -->
        </div>
    </header>
<!-- ======= Hero Section ======= -->
<section id="hero" class="section-bg">
    <div class="section-bg">
        
    </div>
  </section><!-- End Hero Section -->



    
    
<!-- BOTTONE 
    <section id="login" class="login-popup">
    <button th:attr="onlick=|openLoginModal()|">
        Accedi
    </button>
    <div id="login-modal" class="modal-form" hidden>
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text"  name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Accedi">
        </form>
    </div><>
-->









 <!-- Main JS File -->
 <script src="/src/main/resources/static/js/main.js"></script>
</body>
</html>