<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SPEEDY·BEANS</title>
    <meta name="description" content="Rifornisci il tuo negozio di caffè con SPEEDY·BEANS: l'e-commerce che garantisce spedizioni veloci e affidabili. Scopri di più!">
    <meta name="keywords" content="caffè, rifornimento caffè, spedizione veloce, negozio caffè, e-commerce caffè">
    
    <!-- Favicons -->
    <link href="/src/main/resources/static/img/favicon-speedybeans.png" rel="icon">
    <link href="/src/main/resources/static/img/apple-touch-icon-speedbeans.png" rel="apple-touch-icon">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">

     <!-- Bootstrap CSS Files -->
    <link href="resources/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

     <!-- Main CSS File -->
    <link href="resources/static/css/main.css" rel="stylesheet">
  

</head>
<body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a href="index.html" class="logo d-flex align-items-center me-auto">
                <img src="/src/main/resources/static/img/logo-speedybeans.png">
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#home" class="active">Home</a></li>
                    <li><a href="#caffe" class="">Caffè</a></li>
                    <li><a href="#macchinette" class="">Macchine</a></li>
                    <li><a href="#contatti" class="">Contatti</a></li>
                    <a class="cta-btn d-none d-sm-block" href="#login">LOGIN</a>
                </ul>
            </nav>

        </div>
    
    

    <section id="login" class="login-popup">
    <button th:attr="onlick=|openLoginModal()|">
        Accedi
    </button>
    <div id="login-modal" class="modal-form" hidden>
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text"  name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Accedi">
        </form>
    </div>










 <!-- Main JS File -->
 <script src="js/main.js"></script>
</body>
</html>