<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Utente</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/tabelle.css">
    <script src="/js/main.js"></script>
    <script src="/js/carousel.js"></script>


   
</head>
<body>
    <div class="header">
        <div class="left-side">
            <div class="logo">
             <img src="/img/logo/logo-speedybeans.png" alt="Logo">
            </div>
            <div class="search-bar">
                <form action="/prodotto/cerca-prodotti" method="get">
                    <input type="text" name="brand" id="src-utn-brand" placeholder="Cerca prodotti per brand">
                </form>
            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/prodotto/tutti-i-prodotti" class="">Prodotti</a></li>
                <li><a href="/utente/ordini" class="">I miei ordini</a></li>
                <li><a href="/utente/profile" class="">I miei dati</a></li>
            </ul>
        </nav>

        <div class="right-side">
            <div class="auth-buttons">
                <div class="cart">
                    <a href="/utente/vai-al-carrello"><img src="/img/cart.png" alt="Carrello"></a>
                </div>
                <div>
                    <a href="/area-admin">
                        <button class="back-button">INDIETRO</button>
                    </a>
                </div>
                <div>
                    <a href="/logout"><button class="logout-button">LOGOUT</button></a>
                </div>
            </div>
        </div> 
    </div> <!-- ======= Chiusura Header ======= -->
    <div id="message-modal" th:if="${message} != null">
        <p th:text="${message}"></p>
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
    </div>
    
    <div class="filter-bar">
        <form action="/ordine/cerca-ordini" method="get" style="display: flex; flex-wrap: wrap; gap: 20px;">
            <div class="filter-item">
                <label for="src-hmp-mintotale">Totale minimo:</label>
                <input type="number" name="minTotale" id="src-hmp-mintotale" placeholder="Minimo">
            </div>

            <div class="filter-item">
                <label for="src-hmp-maxtotale">Totale massimo:</label>
                <input type="number" name="maxTotale" id="src-hmp-maxtotale" placeholder="Massimo">
            </div>

            <div class="filter-item">
                <label for="data_inizio">Data Inizio:</label>
                <input type="date" name="data_inizio" id="data_inizio">
            </div>

            <div class="filter-item">
                <label for="data_fine">Data Fine:</label>
                <input type="date" name="data_fine" id="data_fine">
            </div>

            <button type="submit">Applica Filtri</button>
        </form>
    </div>

  
    <br>
    <br>
    
    <table class="tb-oriz">
        <thead>
            <tr>
                <th colspan="6">
                    Ordini
                </th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Totale</th>
                <th>Quantita'</th>
                <th>Iva</th>
                <th>Data Ordine</th>
                <th>Dettaglio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ordine : ${listaOrdini}">
                <td th:text="${ordine.id}"></td>
                <td th:text="${ordine.totale}"></td>
                <td th:text="${ordine.quantita}"></td>
                <td th:text="${ordine.iva ? 'Sì' : 'No'}"></td>
                <td th:text="${ordine.dataOrdine}"></td>
                <td><a th:href="|/ordine/dettaglio?id=${ordine.id}|"><button class="button-common">Dettaglio</button></a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>

