<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Utenti</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/tabelle.css">
    <script src="/js/main.js"></script>
</head>

<body>

 <!-- ======= Header ======= -->
 <div class="header">
    <div class="left-side">
        <div class="logo">
            <a href="/area-admin">
                <img src="/img/logo/logo-speedybeans.png" alt="Logo">
            </a>
        </div>
        <div class="search-bar">
            <form action="/utente/cerca-utenti" method="get">
                <input type="text" name="query" id="src-hmp-query" placeholder="Cerca utenti per nome, cognome o p.iva">
                <input type="submit" value="Cerca" hidden>
            </form>
        </div>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/prodotto/tutti-i-prodotti" class="">Prodotti</a></li>
            <li><a href="/ordine/tutti-gli-ordini" class="">Ordini</a></li>
        </ul>
    </nav>

            <div class="auth-buttons">
                <div>
                    <a href="/area-admin">
                        <button class="back-button">INDIETRO</button>
                    </a>
                </div>
                <div>
                    <a href="/logout">
                        <button class="logout-button">LOGOUT</button>
                    </a>
                </div>
            </div>
    </div><!-- ======= Chiusura Header ======= -->


    <!-- Tabella di visualizzazione -->
    <table class="tb-oriz">
        <thead>
            <tr>
                <th colspan="5"><h2>Utenti</h2></th>
                    <td><button class="button-common" onclick="toggleInsertUtente()">Inserisci utente</button></td>
            </tr>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Dettaglio</th>
                <th>Elimina</th>
                <th>Modifica</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="utente : ${listaUtenti}">
                <td th:text="${utente.nome}"></td>
                <td th:text="${utente.cognome}"></td>
                <td th:text="${utente.email}"></td>
                <div class="tb-buttons">
                    
                        <td><a th:href="|/utente/dettaglio?id=${utente.id}|"><button class="button-common">Dettaglio</button></a></td>
                  
                    
                        <td><a th:href="|/utente/delete/${utente.id}|"><button class="button-common">Elimina</button></a></td>
                 
                   
                            <td>
                                <button class="button-common" th:attr="onclick=|toggleUpdateUtente(
                                    `${utente.id}`,
                                    `${utente.nome}`,
                                    `${utente.cognome}`,
                                    `${utente.ragioneSociale}`,
                                    `${utente.partitaIva}`,
                                    `${utente.codiceSdi}`,
                                    `${utente.indirizzo}`,
                                    `${utente.citta}`,
                                    `${utente.cap}`,
                                    `${utente.provincia}`,
                                    `${utente.nazione}`,
                                    `${utente.telefono}`,
                                    `${utente.email}`
                                    `${utente.password}`)|">Modifica</button>
                            </td>
                   
            </div>
            </tr>
        </tbody>
    </table>



    <!-- Form di inserimento -->
    <div id="insert-utente" class="modal-form" hidden>
        
        
        <form action="/utente/insert" method="post">
            
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="insert-utente-nome">

            <label for="cognome">Cognome</label>
            <input type="text" name="cognome" id="insert-utente-cognome">
            
            <label for="ragione-sociale">Ragione Sociale</label>
            <input type="text" name="ragionesociale" id="insert-utente-ragionesociale">
            
            <label for="indirizzo">Indirizzo</label>
            <input type="text" name="indirizzo" id="insert-utente-indirizzo">
            
            <label for="citta">Città</label>
            <input type="text" name="citta" id="insert-utente-citta">
            
            <label for="cap">Cap</label>
            <input type="text" name="cap" id="insert-utente-cap">

            <label for="provincia">Provincia</label>
            <input type="text" name="provincia" id="insert-utente-provincia">
            
            <label for="nazione">Nazione</label>
            <input type="text" name="nazione" id="insert-utente-nazione">

            <label for="p-iva">Partita Iva</label>
            <input type="text" name="partitaiva" id="insert-utente-partitaiva">
            
            <label for="codice-sdi">Codice SDI</label>
            <input type="text" name="codicesdi" id="insert-utente-codicesdi">            
            
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono" id="insert-utente-telefono">
            
            <label for="email">Email</label>
            <input type="email" name="email" id="insert-utente-email">

            <label for="password">Password</label>
            <input type="text" name="password" id="insert-utente-password">
            
            <div class="button-container">
                <button type="submit" value="Invia">INVIA</button>
                <button type="button" onclick="document.querySelector('#insert-utente').hidden=true">CHIUDI</button>
            </div>
        </form>
    </div>
    
    
    
    <!-- Form di modifica -->
    <div id="update-utente" class="modal-form" hidden>
        <form action="/utente/update" method="post">
            <input type="hidden" name="id" id="update-utente-id">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="update-utente-nome">
            <label for="cognome">Cognome</label>
            <input type="text" name="cognome" id="update-utente-cognome">
            <label for="email">Ragione Sociale</label>
            <input type="text" name="ragionesociale" id="update-utente-ragionesociale">
            <label for="email">Partita Iva</label>
            <input type="text" name="partitaiva" id="update-utente-partitaiva">
            <label for="email">Codice SDI</label>
            <input type="text" name="codicesdi" id="update-utente-codicesdi">
            <label for="email">Indirizzo</label>
            <input type="text" name="indirizzo" id="update-utente-indirizzo">
            <label for="email">Città</label>
            <input type="text" name="citta" id="update-utente-citta">
            <label for="email">Cap</label>
            <input type="text" name="cap" id="update-utente-cap">
            <label for="email">Provincia</label>
            <input type="text" name="provincia" id="update-utente-provincia">
            <label for="email">Nazione</label>
            <input type="text" name="nazione" id="update-utente-nazione">
            <label for="email">Telefono</label>
            <input type="text" name="telefono" id="update-utente-telefono">
            <label for="email">Email</label>
            <input type="email" name="email" id="update-utente-email">
            <div class="button-container">
            <button type="submit">INVIA</button>
            <button type="button" onclick="document.querySelector('#update-utente').hidden=true">CHIUDI</button>
            </div>
        </form>
    </div>
   
    
    <div id="message-modal" th:if="${message} != null">
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
        <hr>
        <p th:text="${message}"></p>
    </div>
</body>
</html>