<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti i Prodotti</title>
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Genere</th>
                <th>Brand</th>
                <th>Prezzo</th>
                <th>Disponibilità</th>
                <th>Peso</th>
                <th>Tipologia</th>
                <th>Data Produzione</th>
                <th>Data Scadenza</th>
                <th>Formato</th>
                <th>Utilizzo</th>
                <th>Colore</th>
                <th>Modello</th>
                <th>Serbatoio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prodotto : ${listaProdotti}">
                <td th:text="${prodotto.genere}"></td>
                <td th:text="${prodotto.brand}"></td>
                <td th:text="${prodotto.prezzo}"></td>
                <td th:text="${prodotto.disponibilita}"></td>
                <td th:text="${prodotto.peso}"></td>
                <!-- <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe)}" th:text="${prodotto.tipologia}"></td>
                <td th:if="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}" th:text="${prodotto.utilizzo}"></td>
                <td th:unless="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe) || prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta)}">-</td> -->
                <td th:text="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe) ? prodotto.tipologia : '-'}"></td>
                <td th:text="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe) ? prodotto.dataProduzione : '-'}"></td>
                <td th:text="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe) ? prodotto.dataScadenza : '-'}"></td>
                <td th:text="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Caffe) ? prodotto.formato : '-'}"></td>
                <td th:text="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta) ? prodotto.utilizzo : '-'}"></td>
                <td th:text="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta) ? prodotto.colore : '-'}"></td>
                <td th:text="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta) ? prodotto.modello : '-'}"></td>
                <td th:text="${prodotto instanceof T(com.generation.SpeedyBeans.entities.Macchinetta) ? prodotto.serbatoio : '-'}"></td>

            </tr>
        </tbody>
    </table>
    
    
</body>
</html>