<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti i Prodotti</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="search-bar">
        <form action="/prodotto/cerca-prodotti/caffes" method="get">
            <div id="filtri-caffes" hidden>
                <!-- Dropdown for brand caffè -->
                <select name="brand" id="src-utn-brand">
                    <option value="" disabled selected>Brand caffè</option>
                    <option value="lavazza">Lavazza</option>
                    <option value="illy">Illy</option>
                    <option value="kimbo">Kimbo</option>
                    <option value="segafredo">Segafredo</option>
                    <option value="nescafé">Nescafé</option>
                </select>

                <!-- Dropdown for Formato caffè -->
                <select name="formato" id="src-utn-formato">
                    <option value="" disabled selected>Formato caffè</option>
                    <option value="macinato">Macinato</option>
                    <option value="grani">Grani</option>
                    <option value="capsule">Capsule</option>
                    <option value="istantanep">Istantaneo</option>
                </select>
            
                <!-- Dropdown for Tipologia caffè -->
                <select name="tipologia" id="src-utn-tipologia">
                    <option value="" disabled selected>Tipologia caffè</option>
                    <option value="arabica">Arabica</option>
                    <option value="robusta">Robusta</option>
                </select>
                <!-- Submit Button -->
                <input type="submit" value="Applica filtri">
                <br>
                <div id="mostra-risultati">
                    <button onclick="mostraRisultati()">Mostra Risultati</button>
                </div>
            </div>
        </form>  
        <form action="/prodotto/cerca-prodotti/macchinette" method="get">
            <div id="filtri-macchinette" hidden>
                <!-- Dropdown for brand macchinetta -->
                <select name="brand" id="src-utn-brand">
                    <option value="" disabled selected>Brand macchinetta</option>
                    <option value="nespresso">Nespresso</option>
                    <option value="delonghi">DeLonghi</option>
                    <option value="lavazza">Lavazza</option>
                    <option value="philips">Philips</option>
                    <option value="saeco">Saeco</option>
                    <option value="krups">Krups</option>
                    <option value="bosch">Bosch</option>
                    <option value="breville">Breville</option>
                </select>

                <!-- Dropdown for Utilizzo macchinetta -->
                <select name="utilizzo" id="src-utn-utilizzo">
                    <option value="" disabled selected>Utilizzo macchinetta</option>
                    <option value="capsule">Capsule</option>
                    <option value="grani">Grani</option>
                    <option value="cialde">Cialde</option>
                </select>
                <!-- Dropdown for Colore macchinetta -->
                <select name="colore" id="src-utn-colore">
                    <option value="" disabled selected>Colore macchinetta</option>
                    <option value="nero">Nero</option>
                    <option value="argento">Argento</option>
                    <option value="bianco">Bianco</option>
                    <option value="acciaio inox">Acciaio Inox</option>
                    <option value="oro">Oro</option>
                </select>
                <!-- Submit Button -->
                <input type="submit" value="Applica filtri">
                <br>
                <div id="mostra-risultati">
                    <button onclick="mostraRisultati()">Mostra Risultati</button>
                </div>
            </div>
        </form>      
    </div>
    <a href="/utente/vai-al-carrello"><button>Carrello</button></a>
    <br>
    <a href="/area-admin">Indietro</a>
    <div id="message-modal" th:if="${message} != null">
        <p th:text="${message}"></p>
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
    </div>

    <button onclick="apriRicercaCaffes()">Mostra Caffè</button>
    <button onclick="apriRicercaMacchinette()">Mostra Macchinette</button>
    <a href="/prodotto/tutti-i-prodotti"><button>Annulla ricerca</button></a>
    <br>
    <br>
    <!-- Form per inserire Caffè -->
    <div id="insert-caffe" hidden>
        <form action="/caffe/insert" method="post">
            <label for="brand">Brand</label>
            <input type="text" name="brand" id="insert-caffe-brand">
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="insert-caffe-prezzo">
            <label for="disponibilita">Disponibilità</label>
            <input type="number" name="disponibilita" id="insert-caffe-disponibilita">
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="insert-caffe-peso">
            <label for="tipologia">Tipologia</label>
            <input type="text" name="tipologia" id="insert-caffe-tipologia">
            <label for="dataproduzione">Data Produzione</label>
            <input type="date" name="dataproduzione" id="insert-caffe-dataproduzione">
            <label for="datascadenza">Data Scadenza</label>
            <input type="date" name="datascadenza" id="insert-caffe-datascadenza">
            <label for="formato">Formato</label>
            <input type="text" name="formato" id="insert-caffe-formato">

            <button type="submit">Invia</button>
        </form>
    </div>
    <!-- Form per modificare caffè -->
    <div id="update-caffe" hidden>
        <form action="/caffe/update" method="post">
            <input type="hidden" name="id" id="update-caffe-id">
            <input type="hidden" name="genere" id="update-caffe-genere">

            <label for="brand">Brand</label>
            <input type="text" name="brand" id="update-caffe-brand">
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="update-caffe-prezzo">
            <label for="disponibilita">Disponibilità</label>
            <input type="number" name="disponibilita" id="update-caffe-disponibilita">
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="update-caffe-peso">
            <label for="tipologia">Tipologia</label>
            <input type="text" name="tipologia" id="update-caffe-tipologia">
            <label for="dataproduzione">Data Produzione</label>
            <input type="date" name="dataproduzione" id="update-caffe-dataproduzione">
            <label for="datascadenza">Data Scadenza</label>
            <input type="date" name="datascadenza" id="update-caffe-datascadenza">
            <label for="formato">Formato</label>
            <input type="text" name="formato" id="update-caffe-formato">
            
            <button type="submit">Invia</button>
        </form>
    </div>
    <!-- Form per inserire Macchinetta -->
    <div id="insert-macchinetta" hidden> 
        <form action="/macchinetta/insert" method="post">
            <label for="brand">Brand</label>
            <input type="text" name="brand" id="insert-macchinetta-brand">
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="insert-macchinetta-prezzo">
            <label for="disponibilita">Disponibilità</label>
            <input type="number" name="disponibilita" id="insert-macchinetta-disponibilita">
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="insert-macchinetta-peso">
            <label for="utilizzo">Utilizzo</label>
            <input type="text" name="utilizzo" id="insert-macchinetta-utilizzo">
            <label for="colore">Colore</label>
            <input type="text" name="colore" id="insert-macchinetta-colore">
            <label for="modello">Modello</label>
            <input type="text" name="modello" id="insert-macchinetta-modello">
            <label for="serbatoio">Serbatoio</label>
            <input type="number" name="serbatoio" id="insert-macchinetta-serbatoio">
            <button type="submit">Invia</button>
        </form>
    </div>
    <!-- Form per modificare macchinetta -->
    <div id="update-macchinetta" hidden>
        <form action="/macchinetta/update" method="post">
            <input type="hidden" name="id" id="update-macchinetta-id">
            <input type="hidden" name="genere" id="update-macchinetta-genere">

            <label for="brand">Brand</label>
            <input type="text" name="brand" id="update-macchinetta-brand">
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="update-macchinetta-prezzo">
            <label for="disponibilita">Disponibilità</label>
            <input type="number" name="disponibilita" id="update-macchinetta-disponibilita">
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="update-macchinetta-peso">

            <label for="utilizzo">Utilizzo</label>
            <input type="text" name="utilizzo" id="update-macchinetta-utilizzo">
            <label for="colore">Colore</label>
            <input type="text" name="colore" id="update-macchinetta-colore">
            <label for="modello">Modello</label>
            <input type="text" name="modello" id="update-macchinetta-modello">
            <label for="serbatoio">Serbatoio</label>
            <input type="number" name="serbatoio" id="update-macchinetta-serbatoio">
            <button type="submit">Invia</button>
        </form>
    </div> 
    <div id="tabella-caffes" hidden>
        <button onclick="toggleInsertCaffe()">Inserisci</button>
        <br>
        <table>
            <thead>
                <tr>
                    <th colspan="6">Caffè</th>
                </tr>
                <tr>
                    <th>Brand</th>
                    <th>Prezzo</th>
                    <th>Tipologia</th>
                    <th>Formato</th>
                    <th>Dettaglio</th>
                    <th>Carrello</th>
                    <th>Modifica</th>
                    <th>Elimina</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prodotto : ${listaProdotti}"  th:if="${prodotto.genere} == 'C'">
                    <td th:text="${prodotto.brand}"></td>
                    <td th:text="${prodotto.prezzo}"></td>
                    <td th:text="${prodotto.tipologia}"></td>
                    <td th:text="${prodotto.formato}"></td>
                    <td><a th:href="|/prodotto/dettaglio?id=${prodotto.id}|"><button>Dettaglio</button></a></td>
                    <td><a th:href="|/utente/aggiungi-al-carrello?id=${prodotto.id}|"><button>Aggiungi</button></a></td>
                    <td><button onclick="toggleUpdateCaffe()" th:attr="onclick=|openUpdateCaffe(`${prodotto.id}`,
                        `${prodotto.genere}`,
                        `${prodotto.brand}`,
                        `${prodotto.prezzo}`,
                        `${prodotto.disponibilita}`,
                        `${prodotto.peso}`,
                        `${prodotto.tipologia}`,
                        `${prodotto.dataProduzione}`,
                        `${prodotto.dataScadenza}`,
                        `${prodotto.formato}`)|">Modifica</button>
                    </td>
                    <td><a th:href="|/caffe/delete/${prodotto.id}|"><button>Elimina</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="tabella-macchinette" hidden>
        <button onclick="toggleInsertMacchinetta()">Inserisci</button>
        <br>
        <table>
            <thead>
                <tr>
                    <th colspan="6">Macchinette</th>
                </tr>
                <tr>
                    <th>Brand</th>
                    <th>Prezzo</th>
                    <th>Utilizzo</th>
                    <th>Colore</th>
                    <th>Dettaglio</th>
                    <th>Carrello</th>
                    <th>Modifica</th>
                    <th>Elimina</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prodotto : ${listaProdotti}"  th:if="${prodotto.genere} == 'M'">
                    <td th:text="${prodotto.brand}"></td>
                    <td th:text="${prodotto.prezzo}"></td>
                    <td th:text="${prodotto.utilizzo}"></td>
                    <td th:text="${prodotto.colore}"></td>
                    <td><a th:href="|/prodotto/dettaglio?id=${prodotto.id}|"><button>Dettaglio</button></a></td>
                    <td><a th:href="|/utente/aggiungi-al-carrello?id=${prodotto.id}|"><button>Aggiungi</button></a></td>
                    <td><button onclick="toggleUpdateMacchinetta()" th:attr="onclick=|openUpdateMacchinetta(`${prodotto.id}`,
                        `${prodotto.genere}`,
                        `${prodotto.brand}`,
                        `${prodotto.prezzo}`,
                        `${prodotto.disponibilita}`,
                        `${prodotto.peso}`,
                        `${prodotto.utilizzo}`,
                        `${prodotto.colore}`,
                        `${prodotto.modello}`,
                        `${prodotto.serbatoio}`)|">Modifica</button>
                    </td>
                    <td><a th:href="|/macchinetta/delete/${prodotto.id}|"><button>Elimina</button></a></td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>