<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti i Prodotti</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="search-bar">
        <form action="/prodotto/cerca-prodotti" method="get">
            <input type="text" name="formato" id="src-hmp-formato" placeholder="Formato caffè">
            <input type="text" name="tipologia" id="src-hmp-tipologia" placeholder="Tipologia caffè">
            <input type="text" name="utilizzo" id="src-hmp-utilizzo" placeholder="Utilizzo macchinetta">
            <input type="text" name="colore" id="src-hmp-colore" placeholder="Colore macchinetta">
            <input type="submit" value="Cerca" hidden>
        </form>
    </div>
    <a href="/utente/vai-al-carrello"><button>Carrello</button></a>
    <br>
    <a href="/area-utente">Indietro</a>
    <div id="message-modal" th:if="${message} != null">
        <p th:text="${message}"></p>
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
    </div>
    <button onclick="document.querySelector('#tabella-caffes').hidden=false">Caffè</button>
    <button>Macchinetta</button>
    <div id="tabella-caffes" hidden>
        <table>
            <thead>
                <tr>
                    <th>Genere</th>
                    <th>Brand</th>
                    <th>Prezzo</th>
                    <th>Dettaglio</th>
                    <th>Aggiungi al carrello</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prodotto : ${listaProdotti}"  th:if="${prodotto.genere} == 'C'">
                    <td th:text="${prodotto.genere == 'C' ? 'Caffè' : 'Altro'}"></td>
                    <td th:text="${prodotto.brand}"></td>
                    <td th:text="${prodotto.prezzo}"></td>
                    <td><a th:href="|/prodotto/dettaglio?id=${prodotto.id}|"><button>Dettaglio</button></a></td>
                    <td><a th:href="|/utente/aggiungi-al-carrello?id=${prodotto.id}|"><button>Aggiungi</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    
    
</body>
</html>