<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti i Prodotti</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/tabelle.css">
    <script src="/js/main.js"></script>
    
</head>
<body>

 <!-- ======= Header ======= -->
 <div class="header">
    <div class="left-side">
        <div class="logo">
            <a href="/area-utente">
                <img src="/img/logo/logo-speedybeans.png" alt="Logo">
            </a>
        </div>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/utente/ordini" class="">I miei ordini</a></li>
            <li><a href="/utente/profile" class="">I miei dati</a></li>
        </ul>
    </nav>

            <div class="auth-buttons">
                <div class="cart">
                    <a href="/utente/vai-al-carrello"><img src="/img/cart.png" alt="Carrello"></a>
                </div>
                <div>
                    <a href="/area-utente">
                        <button class="back-button">INDIETRO</button>
                    </a>
                </div>
                <div>
                    <a href="/logout">
                        <button class="logout-button">LOGOUT</button>
                    </a>
                </div>
            </div>

    </div><!-- ======= Chiusura Header ======= -->

    <div id="message-modal" th:if="${message} != null">
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
        <hr>
        <p th:text="${message}"></p>
    </div>

    <div class="button-menu">
        <button class="back-button" onclick="apriRicerca()">Filtri</button>
    
        <a href="/prodotto/tutti-i-prodotti"><button class="back-button">Annulla ricerca</button></a>
    </div>
<div class="flex-container">
    <div class="filter-menu">
        <form action="/prodotto/cerca-prodotti/caffes" method="get">

            <div id="filtri-caffes" hidden>
                <span>Caffè</span>
                <!-- Dropdown for brand caffè -->
                <select  name="brand" id="src-utn-brand">
                    <option value="" disabled selected>Brand caffè</option>
                    <option value="lavazza">Lavazza</option>
                    <option value="illy">Illy</option>
                    <option value="kimbo">Kimbo</option>
                    <option value="segafredo">Segafredo</option>
                    <option value="nescafé">Nescafé</option>
                </select>

                <!-- Dropdown for Formato caffè -->
                <select name="formato" id="src-utn-formato">
                    <option value="" disabled selected>Formato caffè</option>
                    <option value="macinato">Macinato</option>
                    <option value="grani">Grani</option>
                    <option value="capsule">Capsule</option>
                    <option value="istantanep">Istantaneo</option>
                </select>
            
                <!-- Dropdown for Tipologia caffè -->
                <select name="tipologia" id="src-utn-tipologia">
                    <option value="" disabled selected>Tipologia caffè</option>
                    <option value="arabica">Arabica</option>
                    <option value="robusta">Robusta</option>
                </select>
                <!-- Submit Button -->
                <input type="submit" value="Applica filtri">
                <br>
            </div>
        </form>  
        <br>
        
        <form action="/prodotto/cerca-prodotti/macchinette" method="get">
            <div id="filtri-macchinette" hidden>
                <span>Macchinette</span>
                <!-- Dropdown for brand macchinetta -->
                <select name="brand" id="src-utn-brand">
                    <option value="" disabled selected>Brand macchinetta</option>
                    <option value="nespresso">Nespresso</option>
                    <option value="delonghi">DeLonghi</option>
                    <option value="lavazza">Lavazza</option>
                    <option value="philips">Philips</option>
                    <option value="saeco">Saeco</option>
                    <option value="krups">Krups</option>
                    <option value="bosch">Bosch</option>
                    <option value="breville">Breville</option>
                </select>

                <!-- Dropdown for Utilizzo macchinetta -->
                <select name="utilizzo" id="src-utn-utilizzo">
                    <option value="" disabled selected>Utilizzo macchinetta</option>
                    <option value="capsule">Capsule</option>
                    <option value="grani">Grani</option>
                    <option value="cialde">Cialde</option>
                </select>
                <!-- Dropdown for Colore macchinetta -->
                <select name="colore" id="src-utn-colore">
                    <option value="" disabled selected>Colore macchinetta</option>
                    <option value="nero">Nero</option>
                    <option value="argento">Argento</option>
                    <option value="bianco">Bianco</option>
                    <option value="acciaio inox">Acciaio Inox</option>
                    <option value="oro">Oro</option>
                </select>
                <!-- Submit Button -->
                <input onclick="document.querySelector('#tabella-caffes').hidden=true" type="submit" value="Applica filtri">
                <br>
            </div>
        </form>      
    </div>

   

    <div id="tabella-caffes">
        <table class="tb-oriz">
            <thead>
                <tr>
                    <th colspan="6"><h2>Caffè</h2></th>
                </tr>
                <tr>
                    <th>Brand</th>
                    <th>Prezzo</th>
                    <th>Tipologia</th>
                    <th>Formato</th>
                    <th>Dettaglio</th>
                    <th>Carrello</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prodotto : ${listaProdotti}"  th:if="${prodotto.genere} == 'C'">
                    <td th:text="${prodotto.brand}"></td>
                    <td th:text="${prodotto.prezzo}"></td>
                    <td th:text="${prodotto.tipologia}"></td>
                    <td th:text="${prodotto.formato}"></td>
                    <td><a th:href="|/prodotto/dettaglio?id=${prodotto.id}|"> <button class="button-common">Dettaglio</button></a></td>
                    <td><a th:href="|/utente/aggiungi-al-carrello?id=${prodotto.id}|"> <button class="button-common">Aggiungi</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div id="tabella-macchinette" th:if="${not listaProdotti.?[genere == 'M'].isEmpty()}">
        <table class="tb-oriz">
            <thead>
                <tr>
                    <th colspan="6"><h2>Macchinette</h2></th>
                </tr>
                <tr>
                    <th>Brand</th>
                    <th>Prezzo</th>
                    <th>Utilizzo</th>
                    <th>Colore</th>
                    <th>Dettaglio</th>
                    <th>Carrello</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prodotto : ${listaProdotti}"  th:if="${prodotto.genere} == 'M'">
                    <td th:text="${prodotto.brand}"></td>
                    <td th:text="${prodotto.prezzo}"></td>
                    <td th:text="${prodotto.utilizzo}"></td>
                    <td th:text="${prodotto.colore}"></td>
                    <td><a th:href="|/prodotto/dettaglio?id=${prodotto.id}|"> <button class="button-common">Dettaglio</button></a></td>
                    <td><a th:href="|/utente/aggiungi-al-carrello?id=${prodotto.id}|"> <button class="button-common">Aggiungi</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>  
</body>
</html>