<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Utenti</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>
<body>
    <div>
        <button onclick="toggleInsert()">Inserisci</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Dettaglio</th>
                <th>Elimina</th>
                <th>Modifica</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="utente : ${listaUtenti}">
                <td th:text="${utente.nome}"></td>
                <td th:text="${utente.cognome}"></td>
                <td th:text="${utente.email}"></td>
                <td><a th:href="|/utente/dettaglio?id=${utente.id}|"><button>Dettaglio</button></a></td>
                <td><a th:href="|/utente/delete/${utente.id}|"><button>Elimina</button></a></td>
                <td><button>Modifica</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>