<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti i Prodotti</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="search-bar">
        <form action="/prodotto/cerca-prodotti" method="get">
            <input type="text" name="formato" id="src-hmp-formato" placeholder="Formato caffè">
            <input type="text" name="tipologia" id="src-hmp-tipologia" placeholder="Tipologia caffè">
            <input type="text" name="utilizzo" id="src-hmp-utilizzo" placeholder="Utilizzo macchinetta">
            <input type="text" name="colore" id="src-hmp-colore" placeholder="Colore macchinetta">
            <input type="submit" value="Cerca" hidden>
        </form>
    </div>
    <a href="/utente/vai-al-carrello"><button>Carrello</button></a>
    <div id="message-modal" th:if="${message} != null">
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
        <hr>
        <p th:text="${message}"></p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Genere</th>
                <th>Brand</th>
                <th>Prezzo</th>
                <th>Disponibilità</th>
                <th>Peso</th>
                <th>Dettaglio</th>
                <th>Aggiungi</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prodotto : ${listaProdotti}">
                <td th:text="${#strings.equals(prodotto.genere, 'M') ? 'Macchinetta' : 'Caffè'}"></td>
                <td th:text="${prodotto.brand}"></td>
                <td th:text="${prodotto.prezzo}"></td>
                <td th:text="${prodotto.disponibilita}"></td>
                <td th:text="${prodotto.peso}"></td>
                <td><a th:href="|/prodotto/dettaglio?id=${prodotto.id}|"><button>Dettaglio</button></a></td>
                <td><a th:href="|/utente/aggiungi-al-carrello?id=${prodotto.id}|"><button>Aggiungi</button></a></td>
            </tr>
        </tbody>
    </table>
    
    
    
</body>
</html>