<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti i Prodotti</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <div id="message-modal" th:if="${message} != null">
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
        <hr>
        <p th:text="${message}"></p>
    </div>
    <div>
        <button onclick="ricercaCaffes()">Cerca Caffè</button>
        <button onclick="ricercaMacchinette()"> Cerca Macchinette</button>
    </div>
    <a href="/area-admin">Indietro</a>
    <br>
    
    <!-- Form per ricercare caffè -->
    <form action="/prodotto/cerca-prodotti/caffes" method="get" id="ricerca-caffes" hidden>
        <label for="brand">Brand:</label>
        <select name="brand" id="src-hmp-brand">
            <option value="">Tutti</option>
            <option value="Lavazza">Lavazza</option>
            <option value="Illy">Illy</option>
            <option value="Kimbo">Kimbo</option>
            <option value="Segafredo">Segafredo</option>
            <option value="Nescafé">Nescafé</option>
        </select>
        <label for="formato">Formato caffè:</label>
        <select name="formato" id="src-hmp-formato">
            <option value="">Tutti</option>
            <option value="Istantaneo">Istantaneo</option>
            <option value="Capsule">Capsule</option>
            <option value="Grani">Grani</option>
            <option value="Macinato">Macinato</option>
        </select>
        <label for="tipologia">Tipologia caffè:</label>
        <select name="tipologia" id="src-hmp-tipologia">
            <option value="">Tutti</option>
            <option value="Arabica">Arabica</option>
            <option value="Robusta">Robusta</option>
            <option value="Grani">Grani</option>
            <option value="Macinato">Macinato</option>
        </select>
        <button type="submit">Applica Filtri</button>
        <a href="/prodotto/tutti-i-prodotti"><button>Annulla ricerca</button></a>
    </form>
    <br>
    
    <div hidden>
        <button onclick="toggleInsert()">Inserisci</button>
    </div>
    <!-- Tabella caffè -->
    <table id="tabella-caffes">
        <thead>
            <tr>
                <th>Genere</th>
                <th>Brand</th>
                <th>Prezzo</th>
                <th>Tipologia</th>
                <th>Formato</th>
                <th>Dettaglio</th>
                <th>Elimina</th>
                <th>Modifica</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prodotto : ${listaProdotti}" th:if="${prodotto.genere} == 'C'">
                <td th:text="'Caffè'"></td>
                <td th:text="${prodotto.brand}"></td>
                <td th:text="${prodotto.prezzo}"></td>
                <td th:text="${prodotto.tipologia}"></td>
                <td th:text="${prodotto.formato}"></td>
                <td><a th:href="|/prodotto/dettaglio?id=${prodotto.id}|"><button>Dettaglio</button></a></td>
                <td><a th:href="|/prodotto/delete/${prodotto.id}|"><button>Elimina</button></a></td>
                <td><button th:attr="onclick=|openUpdateProdotto(${prodotto.id}, 0, ${prodotto.brand}, ${prodotto.prezzo}, ${prodotto.tipologia}, ${prodotto.formato})|">Modifica</button></td>
            </tr>
        </tbody>
    </table>
    <!-- Form per inserire Caffè -->
    <div id="insert-caffe" hidden>
        <form action="/caffe/insert" method="post">
            <label for="brand">Brand</label>
            <input type="text" name="brand" id="insert-caffe-brand">
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="insert-caffe-prezzo">
            <label for="disponibilita">Disponibilità</label>
            <input type="number" name="disponibilita" id="insert-caffe-disponibilita">
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="insert-caffe-peso">
            <label for="tipologia">Tipologia</label>
            <input type="text" name="tipologia" id="insert-caffe-tipologia">
            <label for="dataproduzione">Data Produzione</label>
            <input type="date" name="dataproduzione" id="insert-caffe-dataproduzione">
            <label for="datascadenza">Data Scadenza</label>
            <input type="date" name="datascadenza" id="insert-caffe-datascadenza">
            <label for="formato">Formato</label>
            <input type="text" name="formato" id="insert-caffe-formato">
            <button type="submit">Inserisci</button>
        </form>
    </div>
    
    <!-- Form per modificare caffè -->
    <div id="update-caffe" hidden>
        <form action="/caffe/update" method="post">

            <input type="hidden" name="id" id="update-caffe-id">
            <input type="hidden" name="genere" id="update-caffe-genere">

            <label for="brand">Brand</label>
            <input type="text" name="brand" id="update-caffe-brand">
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="update-caffe-prezzo">
            <label for="disponibilita">Disponibilità</label>
            <input type="number" name="disponibilita" id="update-caffe-disponibilita">
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="update-caffe-peso">

            <label for="tipologia">Tipologia</label>
            <input type="text" name="tipologia" id="update-caffe-tipologia">
            <label for="dataproduzione">Data Produzione</label>
            <input type="date" name="dataproduzione" id="update-caffe-dataproduzione">
            <label for="datascadenza">Data Scadenza</label>
            <input type="date" name="datascadenza" id="update-caffe-datascadenza">
            <label for="formato">Formato</label>
            <input type="text" name="formato" id="update-caffe-formato">
            
            <button type="submit">Modifica</button>
        </form>
    </div>
    

    
    <!-- Form per ricerca macchinette -->
    <form action="/prodotto/cerca-prodotti/macchinette" method="get" id="ricerca-macchinette" hidden>
        <label for="brand">Brand:</label>
        <select name="brand" id="src-hmp-brand">
            <option value="">Tutti</option>
            <option value="Nespresso">Nespresso</option>
            <option value="DeLonghi">DeLonghi</option>
            <option value="Lavazza">Lavazza</option>
            <option value="Philips">Philips</option>
            <option value="Saeco">Saeco</option>
            <option value="Krups">Krups</option>
            <option value="Bosch">Bosch</option>
            <option value="Breville">Breville</option>
        </select>
        <label for="utilizzo">Utilizzo macchinetta:</label>
        <select name="utilizzo" id="src-hmp-utilizzo">
            <option value="">Tutti</option>
            <option value="Capsule">Capsule</option>
            <option value="Grani">Grani</option>
        </select>

        <label for="colore">Colore macchinetta:</label>
        <select name="colore" id="src-hmp-colore">
            <option value="">Tutti</option>
            <option value="Nero">Nero</option>
            <option value="Argento">Argento</option>
            <option value="Rosso">Rosso</option>
            <option value="Blu">Blu</option>
            <option value="Acciaio Inox">Acciaio Inox</option>
            <option value="Grigio">Grigio</option>
            <option value="Crema">Crema</option>
        </select>

        <button type="submit">Applica Filtri</button>
        <a href="/prodotto/tutti-i-prodotti"><button>Annulla ricerca</button></a>
    </form>
    <br>
    <div hidden>
        <button onclick="toggleInsert()">Inserisci</button>
    </div>
    <!-- Tabella macchinette -->
    <table id="tabella-macchinette">
        <thead>
            <tr>
                <th>Genere</th>
                <th>Brand</th>
                <th>Prezzo</th>
                <th>Utilizzo</th>
                <th>Colore</th>
                <th>Dettaglio</th>
                <th>Elimina</th>
                <th>Modifica</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prodotto : ${listaProdotti}" th:if="${prodotto.genere} == 'M'">
                <td th:text="'Macchinetta'"></td>
                <td th:text="${prodotto.brand}"></td>
                <td th:text="${prodotto.prezzo}"></td>
                <td th:text="${prodotto.utilizzo}"></td>
                <td th:text="${prodotto.colore}"></td>
                <td><a th:href="|/prodotto/dettaglio?id=${prodotto.id}|"><button>Dettaglio</button></a></td>
                <td><a th:href="|/prodotto/delete/${prodotto.id}|"><button>Elimina</button></a></td>
                <td><button th:attr="onclick=|openUpdateProdotto(${prodotto.id}, 1, ${prodotto.brand}, ${prodotto.prezzo}, ${prodotto.disponibilita}, ${prodotto.peso})|">Modifica</button></td>
            </tr>
        </tbody>
    </table>
    <!-- Form per inserire Macchinetta -->
    <div id="insert-macchinetta" hidden> 
        <form action="/macchinetta/insert" method="post">
            <label for="brand">Brand</label>
            <input type="text" name="brand" id="insert-macchinetta-brand">
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="insert-macchinetta-prezzo">
            <label for="disponibilita">Disponibilità</label>
            <input type="number" name="disponibilita" id="insert-macchinetta-disponibilita">
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="insert-macchinetta-peso">
            <label for="utilizzo">Utilizzo</label>
            <input type="text" name="utilizzo" id="insert-macchinetta-utilizzo">
            <label for="colore">Colore</label>
            <input type="text" name="colore" id="insert-macchinetta-colore">
            <label for="modello">Modello</label>
            <input type="text" name="modello" id="insert-macchinetta-modello">
            <label for="serbatoio">Serbatoio</label>
            <input type="number" name="serbatoio" id="insert-macchinetta-serbatoio">
            <button type="submit">Inserisci</button>
        </form>
    </div>

    <!-- Form per modificare macchinetta -->
    <div id="update-macchinetta" hidden>
        <form action="/macchinetta/update" method="post">
            <input type="hidden" name="id" id="update-macchinetta-id">
            <input type="hidden" name="genere" id="update-macchinetta-genere">

            <label for="brand">Brand</label>
            <input type="text" name="brand" id="update-macchinetta-brand">
            <label for="prezzo">Prezzo</label>
            <input type="number" name="prezzo" id="update-macchinetta-prezzo">
            <label for="disponibilita">Disponibilità</label>
            <input type="number" name="disponibilita" id="update-macchinetta-disponibilita">
            <label for="peso">Peso</label>
            <input type="number" name="peso" id="update-macchinetta-peso">

            <label for="utilizzo">Utilizzo</label>
            <input type="text" name="utilizzo" id="update-macchinetta-utilizzo">
            <label for="colore">Colore</label>
            <input type="text" name="colore" id="update-macchinetta-colore">
            <label for="modello">Modello</label>
            <input type="text" name="modello" id="update-macchinetta-modello">
            <label for="serbatoio">Serbatoio</label>
            <input type="number" name="serbatoio" id="update-macchinetta-serbatoio">
            <button type="submit">Modifica</button>
        </form>
    </div> 
        
    
    
</body>
</html>