<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="/css/login.css">-->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/main.js"></script>
    <title>Speedy Beans Login</title>
</head>
<body>
    <div class="logo">
        <div class="logo-uno">
            <img src="/img/logo/logo-speedybeans.png" alt="Logo 1">
        </div>
        <div class="logo-due">
            <img src="/img/logo/nome-inconrniciato.png" alt="Logo 2" class="logo-text">
        </div>
    </div>
    <div class="login-container">
        <div class="login-form">
            <form action="/login" method="post">
                <div class="input-group">
                    <div class="icon">
                        <img src="/img/vevtor/user.png" alt="User Icon">
                    </div>
                    <input type="text" name="username" id="username" autocomplete="username" placeholder="Username">
                </div>
                <div class="input-group">
                    <div class="icon">
                        <img src="/img/vevtor/password.png" alt="Password Icon">
                    </div>
                    <input type="password" name="password" id="password" autocomplete="current-password" placeholder="Password">
                </div>
                <button type="submit">L<div class="login-cafe">
                    <img src="/img/vevtor/coffee bean.png" alt="Coffee Bean" class="coffee-bean">
                </div>GIN</button>
            </form>
        </div>
    </div>
    <div id="message-modal" th:if="${message} != null">
        <button onclick="document.querySelector('#message-modal').hidden=true">Chiudi</button>
        <hr>
        <p th:text="${message}"></p>
    </div>
</body>
</html>

